* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100wv;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1468276311594-df7cb65d8df6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section {
  background-color: black;
  opacity: 0.6;
  border-radius: 5rem;
  width: 5 0vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header {
  padding: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.search {
  outline: none;
  appearance: none;
  border-style: none;
  width: 25rem;
  height: 5rem;
  border-radius: 2.5rem;
  background-color: rgba(85, 83, 83, 0.644);
}
.search::placeholder {
  padding: 2rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
}
.btn {
  outline: none;
  appearance: none;
  border-style: none;
  background-color: rgba(85, 83, 83, 0.644);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin-left: 1rem;
}
.fa-magnifying-glass {
  color: white;
  font-size: 1.5rem;
}
.main {
  border: 2px solid red;
  height: 30rem;
  width: 100%;
}
