* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100wv;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1468276311594-df7cb65d8df6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section {
  background-color: rgb(6, 18, 31);
  opacity: 0.8;
  border-radius: 5rem;
  width: 70vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header {
  padding: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.search {
  outline: none;
  appearance: none;
  border-style: none;
  width: 35rem;
  height: 5rem;
  border-radius: 2.5rem;
  background-color: rgba(77, 64, 71, 0.699);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: white;
  padding-left: 2rem;
}
.search::placeholder {
  color: rgba(255, 255, 255, 0.411);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
}
.btn {
  outline: none;
  appearance: none;
  border-style: none;
  background-color: rgba(77, 64, 71, 0.699);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin-left: 1rem;
  transition: 1s all;
}
.btn:checked {
  transform: scale(50%);
}
.btn:hover {
  opacity: 0.6;
}
.fa-magnifying-glass {
  color: rgba(255, 255, 255, 0.411);
  font-size: 1.5rem;
}

.main {
  height: 30rem;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
  color: white;
}
.card {
  flex-direction: column;
  width: 33%;
  align-items: flex-start;
  justify-content: flex-start;
  color: rgb(255, 255, 255);
  box-shadow: 5px 10px 10px rgb(255, 246, 203);
  background-color: rgba(77, 64, 71, 0.699);
  border-radius: 1rem;
}
.card-text {
  margin: 2rem;
}
.card-xmark {
  display: flex;
  justify-content: space-between;
}
.name {
  font-size: 1.5rem;
  font-weight: 800;
}
.temp {
  font-size: 3rem;
  font-weight: 900;
}
.status {
  font-size: 1rem;
  font-weight: 200;
}
